<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static/css/main.css">
  <title>CPanel</title>
</head>

<body>
  <div class="content">
    <h1>Control Panel</h1>
    <span>Persons</span> <span>Alerts</span>
    <div class="images">
      <span>
        <img src="static/job.jpg" alt="Persons moving in the gate" height="400" width="300" />
        <img src="static/job.jpg" alt="Persons of interest, that were detected in the gate" height="400" width="300" />
      </span>
    </div>
    <span>Statistics</span> <span>Person of interest</span>
  </div>
</body>

</html>